{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="card bg-light mb-3 mt-5" style="width: auto">
					<div class="card-body">
						<h3 class="card-header mb-3">Inscription</h3>
						{{ form_start(form) }}
						<div class="form_group has-secondary">
							<div class="col-md-12 mb-3">
								{{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.password.first, {'attr': {'class':
              'form-control'}}) }}
							</div>
						</div>
						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.password.second, {'attr': {'class':
              'form-control'}}) }}
							</div>
						</div>
						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.avatar, {'attr': {'class':
              'form-control-file'}}) }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-8 col-md-offset-4 pt-3" style="margin-top:5px;">
								<button type="submit" class="btn btn-secondary">
									S'inscrire
								</button>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
