{% extends 'base.html.twig' %}

{% block title %}Espace de {{ user.firstname }}
{% endblock %}

{% block body %}
	<div id="userProfile" class="container">
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="card bg-light mb-3 mt-5" style="width: auto">
					<div class="card-body">
						<h1 class="pb-3">Bonjour
							{{ user.firstname }}
							!</h1>
						{% if user.avatar %}
						<div id="img" class="text-center pb-5"><img src='/profile/uploads/avatars/{{user.avatar}}' width="100px" height="100px"/></div>
						{% else %}
						<div id="img" class="text-center pb-5"><img src='/profile/avatar.png' width="100px" height="100px"/></div>
						{% endif %}
						<p class="pb-1">Ici, tu trouveras un récapitulatif des informations que tu as fourni lors de ton inscription.</p>
						<ul class="p-0">
							<li>Nom :
								{{ user.lastname }}</li>
							<li>Prénom :
								{{ user.firstname }}</li>
							<li>Adresse email :
								{{ user.email }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
